<!doctype html>
<html ng-app="wittgenstein-app">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="UTF-8">
<head>
    <title>Wittgenstein Tractatus Network</title>

<meta property="og:image" content="https://gitlab.com/tractatus/tractatus.gitlab.io/raw/master/logo.jpg" />
<meta property="og:title" content="Wittgenstein Tractatus Network" />
<meta property="og:description" content="We compile a multilingual parallel corpus from different versions of Wittgenstein's Tractatus Logico-Philosophicus, including the original in German and translations into English, Spanish, French, and Russian. Using this corpus, we compute a similarity measure between propositions and render a visual network of relations for different languages." />
<meta name="description" content="We compile a multilingual parallel corpus from different versions of Wittgenstein's Tractatus Logico-Philosophicus, including the original in German and translations into English, Spanish, French, and Russian. Using this corpus, we compute a similarity measure between propositions and render a visual network of relations for different languages." />

    <link href="node_modules/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
    <style type="text/css">
        #conceptNetwork {
            margin: auto;
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
            display: none;
        }
        #textDiv {
            margin-left: 10px;
            margin-right: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        #loadersmall {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            border: 5px solid #f3f3f3;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            border-top: 5px solid #555;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }
        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0px;
                opacity: 1
            }
        }
        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0;
                opacity: 1
            }
        }
    </style>

    <script src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/vis/dist/vis.js"></script>
    <script type="text/javascript" src="node_modules/fuse.js/src/fuse.min.js"></script>

    <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.min.js"></script>

    <script type="text/javascript" src="data/edges.js"></script>
    <script type="text/javascript" src="data/nodes.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98432814-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>



<body style="margin:0;" ng-controller="WittgensteinController">

    
    <div id="loadersmall"></div>
    <div id="conceptNetwork" class="animate-bottom"></div>
    <div id="textDiv">
        <p>
            Search Wittgenstein's Tractatus Logico-Philosophicus
            <input type="text" class="form-control" id="searchTextbox" ng-model="searchTextBox" placeholder="logical">
            <p id="resultTextArea"> Proposition </p>
        </p>

        <p>
          <label for="languageSelect">Select language:</label> 
          <select id="languageSelect" ng-model="languageSelect" ng-init="languageSelect='english_ogden'">
            <option value="english_ogden" selected>English Ogden</option>
            <option value="german">German</option>
            <option value="english_peamg">English Pears &amp; McGuinness</option>
            <option value="italian">Italian</option>
            <option value="spanish">Spanish</option>
            <option value="french">French</option>
            <option value="russian">Russian</option>
          </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a  href="https://gitlab.com/tractatus/tractatus.gitlab.io">About</a>
        </p>

    </div>    

    <script src="js/tractatus.js"></script>



</body>

</html>